:root {
    --main-color1: #EAD2AC;
    --main-color2: #9CAFB7;
    --secondary-color1: #E6B89C;
    --secondary-color2: #4281A4;
    --acc: #FE938C;
    --font: "Comfortaa", sans-serif;
}


*{
    font-family: var(--font);
}

.navBar{
    background-color:#9CAFB7;
}

body{
    background-color: #9CAFB7;
}

header{
    background-image:url('/public/media/header.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;

}


.footer{
    background: linear-gradient(var(--secondary-color1), var(--secondary-color2));
}
