:root {
    --main-color1: #EAD2AC;
    --main-color2: #9CAFB7;
    --secondary-color1: #E6B89C;
    --secondary-color2: #4281A4;
    --acc: #FE938C;
    --font: "Comfortaa", sans-serif;
}

.footer{
    background: linear-gradient(var(--secondary-color1), var(--secondary-color2));
}
